<div th:fragment="header">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Quran Center</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Main-Page</a></li>
            <li style="background-color: yellow;margin-left: 5px" class="nav-item"><a href="/companies/new" class="nav-link">Select</a></li>
            <li style="background-color: chartreuse;margin-left: 5px" class="nav-item"><a href="/companies/all" class="nav-link">All</a></li>
        </ul>
    </header>

</div>
</div>